:root {
  --top-title-color: #212121;
  --top-text-color: #757575;
  --top-adress-color: #2196f3;
  --top-ht: 1.14;
  --top-footer-text: rgba(255, 255, 255, 0.6);
  --footer-text-color: #ffffff;
  --top-btn-color: #ffffff;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: var(--top-title-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----------------HEADER---------------*/
.header {
  border-bottom: 1px solid #ECECEC;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--top-adress-color);
  margin-right: 93px;
}

.header-color-text {
  color: #000000;
}

.header-link {
  padding: 32px 0;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: var(--top-ht);
  letter-spacing: 0.02em;
  color: var(--top-title-color);
}

.header-item .header-link.current {
  color: var(--top-adress-color);
}

.header-contacts {
  padding: 32px 0;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: var(--top-ht);
  letter-spacing: 0.02em;
  color: var(--top-text-color);
  align-items: center;
  justify-content: center;
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-connect {
  margin-left: auto;
}

.header-contacts:hover,
.header-link:hover,
.header-link:focus {
  color: var(--top-adress-color);
}

.header-contacts:hover .contacts-icon,
.header-contacts:focus .contacts-icon {
  color: #2196F3;
}

/*----------------HERO-----------------*/

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img\ \(1\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin: 0 auto;
}

.hero-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--top-btn-color);
  background-color: var(--top-adress-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--top-btn-color);
  background-color: #188ce8;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  display: flex;
  gap: 30px; 
}

.benefits-item {
  width: calc((100%-90) / 4);
}

.benefits-link {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
}

.benefits-icon {
}

.benefits-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: var(--top-ht);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--top-title-color);
  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--top-text-color);
}

.activity {
  padding-bottom: 94px;
}

.activity-list {
  display: flex;
  gap: 30px;
}

.activity-item {
  width: calc((100%-60) / 3);
}

.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-title-color);
  margin-bottom: 50px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.team-top-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-title-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: #FFFFFF;
  width: calc((100%-90) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-title-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-text-color);
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.clients-top-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-list {
  display: flex;
}

.clients-item {
  width: calc((100%-150) / 6);
}

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border-color: #2196F3;
  color: #2196F3;
}

/*-----------------FOOTER--------------*/

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  gap: 70px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-list {
  margin-top: 20px;
  margin-right: 70px;
}

.footer-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-address {
  color: var(--footer-text-color);
}

.footer-mail {
  color: var(--top-footer-text);
}

.footer-tel {
  color: var(--top-footer-text);
}

.footer-color-text {
  color: var(--footer-text-color);
}

.soc-list-title {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text-color);
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
}

.footer-soc-icon {
  fill: #FFFFFF ;
}

.footer-soc-link:hover,  
.footer-soc-link:focus {
  background-color: #2196F3;
}
/*--------------Portfolio-------------*/

.progects {
  padding: 94px 0;
}

.progects-filtr {
  margin: 0 auto;
  display: block;
  margin-bottom: 34px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.progects-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-title-color);
}

.progects-list-content {
  border-width: 0 0 1px 0;
  border-color: #EEEEEE;
}    

.progects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.progects-list-item {
  width: calc((100% - 60px) / 3);
}

.progects-item-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 20px 24px;
  border-left: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
}

.progects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--top-title-color);
  margin-bottom: 4px;
}

.progects-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--top-text-color);
}

.progects-hero-btn {
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-title-color);
  padding: 6px 22px;
  border-radius: 4px;
}

.progects-hero-btn:hover,
.progects-hero-btn:focus {
  color: var(--top-btn-color);
  background-color: var(--top-adress-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.progects-list-item:hover,
.progects-list-item:focus
{
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}